body{
    background-color:#3f3f41;
    color:white;
}
.input{
    display: inline-block;
    vertical-align: top;
}
.output{
    display: inline-block;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    width: 2.5em;
    height: 2.5em;
}