@charset "utf-8";
body{
    background-color:#3f3f41;
    color:white;
    padding-top: 1em;
    font-family: sans-serif;
}
input[type=text] {
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 0.4em;
    background-color: #535355;
    border: 1px solid white;
    border-radius: 6px;
}
input[type=submit]{
    margin-top: 2em;
    background-color: #77ad35;
    border: none;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    padding: 0.9em;
    color: white;
    text-transform: uppercase;
}
.input{
    padding-left: 2.5em;
    display: inline-block;
    vertical-align: top;
    background: url('assets/input.png') no-repeat 0.5em 5px;
}
.input span{
    font-size: 0.9em;
    padding: 0.3em 0 0.3em ;
    display:block;
}
.output{
    padding-left: 2.5em;
    display: inline-block;
    background: url('assets/output.png') no-repeat 0.5em 0;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border: none;
    border-spacing: 0;
}

th, td {
    font-size: 1.5em;
    position: relative;
    margin: 0;
    border-radius: 4px;
    width: 2.5em;
    height: 2.5em;
}
.start {
    background-color: #575757;
    color: #979797;
}
.start::before{
    content: "━";
    top: 33%;
    left: 103%;
    font-size: 0.7em;
    color: #849769 ;
    text-shadow: 0 0 4px #072605;
    position: absolute;
    z-index: 2;
}
.left::before, .down::before, .right::before, .up::before {
    font-size: 0.7em;
    color: #849769 ;
    text-shadow: 0 0 4px #072605;
    position: absolute;
    z-index: 1;
}
.left::before{
    content: "━━";
    top: 33%;
    left: -18%;
}
.down::before{
    content: "┃";
    top: 85%;
    left : 40%;
}
.right::before{

    content: "━━";
    top: 33%;
    left: 86%;
}
.up::before{
    content: "┃";
    top: -18%;
    left : 40%;
}